body {
  margin:0; padding:0;
  font-family:"Helvetica", arial, sans-serif;
}
#map {
  position:absolute;
  width:66%;
  height:100%;
}
.container {
	width: 66%
}
.sidebar {
	height:100%;
	width:33%;
	background-color:#fff;
	position:fixed!important;
	z-index:1;
	right:0;
	overflow:auto;
}
.post-title{
	color: #ffffff;
	font-size: 14px;
}
p.post-header {
letter-spacing: 2px;
font-size: 13px;
color: #ffffff;
margin: 0 0 15px;
font-family: "Open Sans Condensed";
font-weight: 300;
font-style: italic;
border-width: 0 0 1px;
border-style: dotted;
line-height: 21px;
text-align: left;
z-index: 1 !important;
}

p.byline {
	font-size: 15px;
	line-height: 15px;
	color: #ffffff;
	font-family: "Open Sans Condensed";
	font-weight: 300;
	font-style: italic;


}

article.post-article {
height: 400px;
overflow-y: scroll;
z-index: 1 !important;
padding-bottom: 10px
font-size: 5px;

}



p {
	display: block;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	text-align: left
}